// window
$large: 1440px;
$desktop: 1280px;
$laptop: 1024px;
$tablet: 768px;
$phone: 480px;

$min_w: 330px;




// colors

$decorColor_1: #545BC7;
$textColor_1: #3B3B3B;
$textColor_2: #828282;
$textColor_3: #42496D;
$bgColor_1: #fff;




$gradient_1: linear-gradient(180deg, #3B418D 0%, #545BC7 100%);