// window
$large: 1440px;
$desktop: 1280px;
$laptop: 1024px;
$tablet: 768px;
$phone: 480px;

$min_w: 330px;




// colors

$decorColor_1: #5F78CE;
$textColor_1: #3B3B3B;
$textColor_2: #828282;
$textColor_3: #575963;
$bgColor_1: #fff;




$gradient_1: linear-gradient(180deg, #566DBA 0%, #5F78CE 100%);