.wrap{
	padding: 1.5em 0;
}


.container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 2em;

	@media (max-width: $phone) {
		justify-content: space-around;
	}
}