.wrap{
	padding: 1em 0;
	position: fixed;
	width: 100%;
	top: 0;
	background: rgba(255,255,255,0.8);
	z-index: 100;
}


.container{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo{
	width: 3.5em;
	img{width: 100%;}
}