.wrap{
	height: 500px;
	padding-top: 5em;

	@media (max-width: $laptop) {
		height: 320px;
	}
}


.container{
	position: relative;
}


.content{
	display: flex;
	flex-direction: column;
	gap: 4em;
	max-width: 750px;
	align-items: flex-start;

	@media (max-width: $laptop) {
		max-width: 500px;
	}
	
	@media (max-width: $tablet) {
		text-align: center;
		align-items: center;
	}
}




.img{
	position: absolute;
	right: 0; top: 0;
	width: 40em;
	z-index: -1;
	user-select: none;
	pointer-events: none;
	transform: translate(10%, -25%);


	@media (max-width: $laptop) {
		width: 30em;
	}

	@media (max-width: $tablet) {
		right: 50%;
		transform: translate(50%, -28%);
		opacity: 0.4;
		width: 120%;
	}
}