[data-slider="pagination"]{
	.swiper-slide{
		cursor: pointer;
		transition: 0.3s;
		position: relative;
		filter: brightness(60%);

		&::before{
			content: '';
			position: absolute;
			left: 0;top: 0;
			width: 100%;
			height: 100%;
			border:5px solid transparent;

			@media (max-width: $phone) {border-width: 4px;}
		}
	}

	.swiper-slide-thumb-active{
		filter: brightness(100%);
		&::before{
			border-color: $decorColor_1;
		}
	}


	&[data-slides="3"], &[data-slides="2"], &[data-slides="1"]{
		.swiper-wrapper{
			justify-content: flex-end;
		}
	}

}